.mainBox .contentBox {
    margin-top: 15px;
    margin-left: 40px;
    width: 1100px;
}
.mainBox .contentBox h1 {
    margin-top: 25px;
    margin-left: 500px;
}
/* 时钟模块 */
.clock {
    margin-top: 20px;
    margin-right: 5px;
    width: 300px;
    text-align: center;
    font-size: 24px;
}
.clock #time {
    margin-bottom: 10px;
}
.clock #date {
    font-size: 18px;
}